h1::after {
  display: block;
  content: "";
  height: 2px;
  background: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
  width: 50%;
  margin: 0 auto;
}

button {
  padding: 15px 45px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
