

button {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}
