.my-5 {
  margin: 30px;
  padding: 10px;
  font-size: 15px;
}
.section-job {
  min-height: 550px;
}
.profile {
  margin-top: 20px;
}
.btn-primary {
  margin-left: 5px;
}
.levelOfExperience {
  font-weight: 500;
}
.btn-danger {
  margin-top: 15px;
}
.example-custom-date-class {
  background: rgb(255, 121, 121);
  border-radius: 100%;
  pointer-events: none;
}
.error-alert {
  background: rgb(219, 79, 79);
}
.success-alert {
  background: rgb(129, 218, 129);
}
.question-alert {
  background: rgb(236, 184, 125);
}
.yes:hover{
  background: rgb(129, 218, 129);
}
.no:hover{
  background: rgb(219, 79, 79);
}