<section class="section-create-job">
  <div class="container-fluid">
    <div *ngIf="isShowChooseCategories" class="row justify-content-center">
      <h2 class="display-4"> Thank you for choosing us! What are you good at?</h2>
      <div  class="col-md-6 text-center">
        <select  id="inputCategory" class="my-3">
          <option selected>Choose category</option>
          <option>Mechanic</option>
          <option>Cleaner</option>
          <option>Wall Painter</option>
          <option>Lawn Mowing</option>
          <option>IT Specialist</option>
        </select>
        <br>
        <!-- <select id="inputSkills" class="my-3" [(ngModel)]='newJob.levelOfExperience'>
          <option selected>Choose level of experience</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select> -->
        <br>
        <button (click)=toggleDetails() class="">Next</button>
      </div>
    </div>
    <div *ngIf="isShowDetails" class="">
      <div class="row">
        <h1 class="display-4">Thank you for choosing our company!</h1>
      </div>
      <div class="row g-3 justify-content-center">
        <div class="col-md">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Title" aria-label="Title" id="Title" [(ngModel)]='newJob.title'>
        </div>
        <div class="col-md">
          <label>Price</label>
          <input type="text" class="form-control" placeholder="Price" aria-label="Price" id="Price" [(ngModel)]='newJob.price'>
        </div>
      </div>
      <div row g-3 justify-content-center>
        <div class="col-md">
          <label>Description</label>
          <textarea type="text" class="form-control" placeholder="Description" aria-label="Description" id="Description" [(ngModel)]='newJob.description'></textarea>
        </div>
      </div>
        
      
      <div class="row">
        <div class="col-sm">
          <h1>Languages</h1>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Dutch
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              English
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckDefault">
              Others to be added
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <select id="fruitSelect" [(ngModel)]='newJob.levelOfExperience'>
            <option value = "1" >Novice</option>
            <option value = "2">Intermediate</option>
            <option value = "3">Expert</option>
        </select>
          <!-- <h1>Experience</h1>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" >
            <label class="form-check-label" for="flexCheckDefault">
              Novice
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" >
            <label class="form-check-label" for="flexCheckChecked">
              Intermediate
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3">
            <label class="form-check-label" for="flexCheckChecked">
              Expert
            </label>
            
          </div> -->
        </div>
      </div>
      <div class="row">
        <button (click)=togglePostJob()>Next</button>
      </div>
    </div>
    <div *ngIf="isShowPostJob" class="">
      <div class="row">
        <h1 class="display-4">Your post has been uploaded!</h1>
        <h3 class="display-4">Thank you for using our services!</h3>
      </div>
      
      </div>
      
     
    </div>

</section>
